*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* header section start */

    header{
        max-width: 1415px;
        width: 80%;
        display: grid;
        grid-template-columns: 0.9fr 1.1fr;
        margin-top: 40px;
        margin-bottom: 80px;
    }

    nav{
        font-family: 'Inter', 'sans-serif';
        font-size: 16px;
        font-weight: 400;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    nav a {
        display: block;
        color: #B8BECD;
        margin-right: 34px;
        transition: color 0.3s ease-in-out;
    }

    nav button {
        width: 132px;
        height: 44px;
    }

    #login-button{
        margin-right: 18px;
    }
    
    nav a:hover {
        color: #202336;
    }

/* header section end */

/* main section start */

    main{
        max-width: 1415px;
        width: 80%;
    }

    /** section-1 styling start **/

        .section-1 {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .section-title-container{
            display: flex;
        }
        .plus-image{
            width: 20px;
            height: 20px;
            animation: rotate-plus 8s linear infinite;
        }

        .section-description-container h2{
            font-family: 'Playfair Display', 'sans-serif';
            font-weight: 700;
            font-size: 64px;
            color: #202336;
            margin-top: 33px;
        }

        .section-description-container h3{
            font-family: 'Inter', 'sans-serif';
            font-weight: 600;
            font-size: 22px;
            color: #202336;
            margin-top: 74px;
            margin-bottom: 21px;
        }

        .line{
            width: 32px;
            height: 0px;
            border: 1px solid #202336;
            border-radius: 4px;
        }

        .ring-image{
            position: relative;
            width: 25px;
            height: 25px;
            animation: pulsing-ring 8s infinite ease-in-out;
        }

        .image-container-1 {
            max-width: 687px;
            max-height: 654px;
        }
        
        .dropdown-menus-container{
            max-width: 471px;
            margin-bottom: 51px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 30px;
            grid-row-gap: 35px;
        }

        .dropdown-menus-container select {
            height: 52px;
            border: 0.8px solid #AFB0B9;
            border-radius: 6px;
            padding-left: 30px;
            color: #4A4C53;
            font-family: 'Inter', 'sans-serif';
            font-weight: 400;
            font-size: 15px;
        }

        .orange-button{
            width: 180px;
            height: 52px;
            border: 1px solid #FB8F1D;
            border-radius: 8px;
            border: none;
            color: white;
            background-color: #FB8F1D;
            font-family: 'Mulish', 'sans-serif';
            font-weight: 700;
            font-size: 17px;
            transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
        }

        #plus-image-1{
            margin-top: 55px;
            margin-left: 112px;
        }

        #ring-image-1{
            right: 85px;
            margin-bottom: 23px;
        }

        #ring-image-2{
            left: 362px;
            top: 62px;
        }

        #date-picker {
            border: 0.8 solid #AFB0B9;
            border-radius: 6px;
            padding-left: 30px;
            font-family: 'Inter', 'sans-serif';
            font-weight: 400;
            font-size: 15px;
        }

        .orange-button:hover{
            background-color: white;
            color: #FB8F1D;
            border: 1px solid #FB8F1D;
            border-radius: 8px;
        }

        @keyframes rotate-plus {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        @keyframes pulsing-ring{
            0%{
                transform: scale(1);
            }
            50%{
                transform: scale(1.3);
            }
            100%{
                transform: scale(1);
            }
        }

    /** section-1 styling end **/

    /** section-2 styling start **/

        .section-2{
            margin-top: 270px;
            grid-template-columns: auto auto 1fr;
        }

        .section-2 h3{
            font-family: 'Playfair Display', 'sans-serif';
            font-weight: 700;
            font-size: 36px;
            color: #000;
            margin-bottom: 20px;
        }

        .section-2 p{
            font-family: 'Mulish', sans-serif;
            font-weight: 300;
            font-size: 17px;
            line-height: 30px;
            margin-bottom: 40px;
        }

        .image-container-2{
            margin-top: 16px;
        }

        .section-description-container-2 {
            margin-left: 54px;
            margin-top: 96px;
            max-width: 450px;
        }

        #plus-image-2{
            margin-top: 0px;
            margin-left: 26px;
        }

        #ring-image-3{
            margin-left: 163px;
            margin-bottom: 25px;
        }

    /** section-2 styling end **/

    /** section-3 styling start **/

        .section-3{
            margin-top: 262px;
            display: grid;
            grid-template-columns: min-content 1fr;
            grid-template-rows: auto auto;
        }


        .destinations-header{
            display: grid;
            grid-template-columns: 1fr auto auto;
        }

        .destinations-header h3{
            font-family: 'Playfair Display', sans-serif;
            font-weight: 700;
            font-size: 36px;
            line-height: 50px;
            color: #000;
        }

        .view-all-button{
            margin-right: 135px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: #FB8F1D;
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            font-size: 17px;
            line-height: 60px;
        }

        .arrow{
            margin-left: 10px;
        }

        .destinations-images-container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            column-gap: 25px;
            margin-top: 50px;
            margin-right: 120px;
        }

        .destination-image-container{
            position: relative;
            z-index: 1;
        }

        .destination-image-container img{
            /* display: block; */
            width: 100%;
            max-width: 261px;
            height: 100%;
            max-height: 332px;
            border-radius: 8px 8px 8px 0px;
        }

        .destination-description-container{
            position: absolute;
            z-index: 2;
            padding-top: 11px;
            padding-left: 0px;
            left: 0px;
            bottom: 0px;
            width: 120px;
            height: 56px;
            background-color: white;
            border-radius: 0px 6px 0px 0px;
        }

        .destination-name{
            font-family: 'Inter';
            font-weight: 600;
            font-size: 17px;
            line-height: 25px;
            color: #042521;
        }

        .destination-country{
            font-family: 'Inter';
            font-weight: 500;
            font-size: 15px;
            line-height: 24px;
            color: #042521;
        }

        #plus-image-4{
            margin: 330px 96px 0px 0px;
        }

        #ring-image-4{
            margin-right: 92px;
            margin-top: -20px;
        }

        #ring-image-5{
            grid-column: span 2;
            margin-top: 40px;
            margin-left: 45%;
        }

    /** section-3 styling end **/

    /** section-4 styling start **/

        .section-4{
            margin-top: 173px;
            display: grid;
            grid-template-columns: auto auto;
        }

        .section-description-container-3{
            margin-left: 116px;
            display: flex;
            flex-direction: column;
            width: 480px;
        }

        .section-description-container-3 h3{
            margin-top: 50px;
            font-family: 'Playfair Display', sans-serif;
            font-weight: 700;
            font-size: 36px;
            line-height: 50px;
            color: #000;
        }

        .section-description-container-3 p{
            margin-top: 20px;
            margin-bottom: 40px;
            max-width: 450px;
            font-family: 'Mulish', sans-serif;
            font-weight: 300;
            font-size: 17px;
            line-height: 30px;
            color: #7D7987;
        }

        .image-container-3{
            margin-left: 50px;
            max-height: 542px;
            display: flex;
            flex-direction: row;
        }

        #ring-image-6{
            margin-top: 85px;
            margin-left: 45px;
        }

        #plus-image-5{
            margin-left: 250px;
        }

        #plus-image-6{
            margin-top: 37px;
            margin-left: 58px;
        }

    /** section-4 styling end **/

    /** section-5 styling start **/

        .section-5{
            margin-top: 250px;
        }

        .section-description-container-4{
            margin-left: 116px;
            max-width: 450px;
        }

        .section-description-container-4 h3{
            font-family: 'Playfair Display', sans-serif;
            font-weight: 700;
            font-size: 36px;
            line-height: 50px;
            color: #000;
        }

        .stars-images-container{
            margin-top: 145px;
            display: grid;
            grid-template-columns: min-content min-content min-content min-content min-content;
            grid-column-gap: 16px;
        }

        .comment{
            margin-top: 30px;
            font-family: 'Mulish', sans-serif;
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            color: #000;
        }

        .name{
            margin-top: 40px;
            font-family: 'Inter', sans-serif;
            font-weight: 700;
            font-size: 22px;
            line-height: 48px;
            color: #000;
        }

        .occupation{
            margin-top: 0px;
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 48px;
            color: #000;
        }

    /** section-5 styling end **/

/* main section end */